<h1>Blocked Movies</h1>
<hr />
<% @blocked_movies.each do |blocked_movie| %>
    <div class="row">
        <div class="col-11 align-self-center">
            <%= link_to "https://www.imdb.com/title/#{blocked_movie.imdb}", target: "_blank" do %>
                <%= blocked_movie.movie.title %> (<%= blocked_movie.movie.year %>)
            <% end %>
            <br />
            <%= link_to "Remove", blocked_movies_delete_path(blocked_movie.imdb), class: "btn btn-danger", method: "delete" %>
        </div>
    </div>
    <hr />
<% end %>
